* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
/************************************utilities***********************************/
.container {
  max-width: 440px;
  margin: 0 auto;
}
/************************************header**************************************/
header {
  background-color: rgb(0, 132, 253);
  height: 80px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-links {
  display: none;
}
.burger,
.logo {
  background-color: yellow;
  flex-basis: 60px;
  display: flex;
  align-items: center;
}
/*****************************************media header******************************/
@media all and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1200px) {
  .container {
    min-width: 1150px;
    margin: 0 auto;
  }
  .burger {
    display: none;
  }
  .nav-links {
    height: 100%;
    background-color: yellow;
    flex-basis: 60px;
    display: flex;
    align-items: center;
  }
}
/**********************************main*****************************************/
.top-card {
  border-radius: 30px;
  min-height: 300px;
  background-color: rgb(181, 221, 255);
  margin-top: 30px;
}
.main-card {
  min-height: 600px;
}
.main-cards {
  margin-bottom: 80px;
}
/********************************media main-cards*******************************/
@media all and (min-width: 768px) {
  .top-card {
    width: 30%;
    border-radius: 30px;
    background-color: rgb(181, 221, 255);
    margin-top: 30px;
    min-height: 500px;
  }
  .main-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .second-row {
    min-height: 400px;
  }
  .main-card {
    width: 65%;
  }
}
@media all and (min-width: 1200px) {
  .top-card {
    width: 32%;
    border-radius: 30px;
    background-color: rgb(181, 221, 255);
    margin-top: 30px;
    min-height: 320px;
  }
  .main-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-card {
    width: 66%;
  }
}

/********************************stategic***************************************/
.strategic {
  background-color: rgb(151, 146, 228);
  padding-top: 30px;
}
.strategic-box {
  margin-top: 40px;
  min-height: 1100px;
  max-width: 440px;
  margin: 0 auto;
}
.main-img {
  min-height: 500px;
  background-color: yellow;
}
.img-card {
  min-height: 400px;
  border-radius: 30px;
  margin: auto;
  background-color: white;
  margin-top: 70px;
}
/***************************media strategic***************************************/
@media all and (min-width: 768px) {
  .img-card {
    width: 100%;
    text-align: center;
  }
  .strategic-box {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1200px) {
  .strategic-box {
    padding-top: 100px;
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: flex-end;
    min-height: 700px;
  }
  .img-card {
    min-height: 520px;
    padding: 0 40px;
    margin: 0;
  }
  .main-img {
    max-width: 50%;
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main-img img {
    max-width: 80%;
  }
  .strategic {
    height: 850px;
  }
}
/***********************************testimonials***********************/
.testimonials-box {
  margin-top: 80px;
}
.testimonials-top {
  background-color: yellow;
  min-height: 150px;
}
.middle-card {
  min-height: 600px;
  background-color: rgb(151, 146, 228);
  border-radius: 30px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.testimonial-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: red;
  object-fit: fill;
}
.testimonial-description {
  background-color: yellow;
  width: 80%;
  min-height: 200px;
}
/*******************************media testimonials*******************************/
@media all and (min-width: 768px) {
  .middle-card {
    min-height: 300px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
